<div class='row'>
  <div>
    <%= render 'shared/sidebar'%>
  </div>
  <div class='dash'>
    <table id='search-shop' class="table table-striped table-hover">
      <thead class='table-head'>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Approval</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @shops.each do |shop|%>
          <tr>
            <th scope="row"><%= shop.id %></th>
            <td><%= shop.name %></td>
            <td><%= shop.approval %></td>
            <td><%= link_to 'edit', edit_shop_path(shop)%> <%= link_to 'show', shop_path(shop) %>  
            <%= link_to 'Delete', shop_path(shop), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure?"
            } %>
            </td>
          </tr>
        <% end %>
      </tbody>    
    </table>  
  </div>
</div>
<script>
  $(document).on("turbo:load", () => {
    $("#search-shop").DataTable();
  });
</script>