<div class='container mb-4'>
  <h3 class='text-center p-2'>Welcome <%= current_user.First_Name %> <%= current_user.Last_Name %></h3>
  <div class='view'>
    <div>
      <ul class='list1'>
        <li><b>FirstName:</b></li><hr>
        <li><b>LastName:</b></li><hr>
        <li><b>Email Address:</b></li><hr>
        <li><b>Country:</b></li><hr>
        <li><b>City:</b></li><hr>
        <li><b>Phone Number:</b></li><hr>
      </ul>
    </div>
    <div>
      <ul class='list2'>
        <li><%= @user.First_Name %></li><hr>
        <li><%= @user.Last_Name %></li><hr>
        <li><%= @user.email %></li><hr>
        <li><%= @user.Country %></li><hr>
        <li><%= @user.City %></li><hr>
        <li><%= @user.Phone_number %></li><hr>
      <ul>
      <%= signed_in_helper %>
    </div>
  </div>
</div>
