<div class="d-flex flex-column flex-shrink-0 p-3 h-100 side position-fixed">
  <ul class="nav nav-pills flex-column mb-auto mt-5">
    <li>
      <a href="<%= root_path %>" class="nav-link mt-5">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Home
      </a>
    </li>
    <li>
      <a href="<%= users_index_path %>" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Users
      </a>
    </li>
    <li>
      <a href="<%= shops_index_path %>" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Shops
      </a>
    </li>
    <li>
      <a href="<%= categories_path %>" class="nav-link text">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Categories
      </a>
    </li>
    <li>
      <a href="<%= orders_path %>" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Orders
      </a>
    </li>
    <li>
      <a href="<%= products_path %>" class="nav-link">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Products
      </a>
    </li>
  </ul>
</div>

