<div class='bg-light productindex'>
  <%= form_with model: [@cart.orders.build] do |f| %>
    <div class='summery'>
      <h3>Order Summary</h3>
      <p>Total Items:<%=cart_count(@cart) %></p>
      <div class='mt-2'>
        <%= f.label :total_bill%>
        <%= f.number_field :total_bill,value: total_price,placeholder: :'Your bill',class:'form-control' %>
      </div>
      <div class='mt-2'>
        <%= f.label :shipping_address%>
        <%= f.text_field :shipping_address,placeholder: 'shipping Address',class:'form-control' %>
      </div>
      <div class='mt-2'>
        <%= f.label :payment_method%>
        <%= f.select :payment_method, [ 'cash on delivery', 'online payment'], {}, class:"form-select" %>
      </div>
      <%= f.submit "Place Order", class:'btn btn-order mt-3' %>
    </div> 
  <% end %>
  <div class='address'>
    <p>Delivery to: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Home: <%= current_user.address %></p>
    <p>Email to: <%= current_user.email %> </p>
  </div>
  <div class='checkout-pro'>
    <div class='item-checkout'>
      <% @cart.items.order(:id).each do |item|%> 
        <% product=item.product %>
        <div class='row item-body'>
          <div class='col col-img-check'>
            <% if product.files.attached? %>
              <div id="product<%= item.id %>" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class=”carousel-inner”>
                    <%product.files.each_with_index do |file,i|%>
                      <div class="carousel-item <%= "active " if i==0 %>">
                        <%= image_tag(file , class:'checkout-img') %>
                      </div>
                    <%end%>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class='col chec-detail'>
            <div>
              <ul class='list1'>
                <li><%= product.description%></li>
                <li>Quantity:<%= item.quantity %><span class='bill'><b>RS.<%=item.quantity*product.price%></b></span></li>
              </ul>     
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
