<%= form_with model: [@shop.products.build] do |f| %>
  <div class='form-body'>
    <div class="field mt-3">
      <%= f.label :name %>
      <%= f.text_field :name ,autofocus: true, autocomplete: "Name",class:'form-control' %>
    </div>
    <div class="field mt-3">
      <%= f.label :description %>
      <%= f.text_area :description  ,autofocus: true, autocomplete: "Description",class:'form-control' %>
    </div>
    <div class="field mt-3">
      <%= f.label :price %>
      <%= f.number_field :price ,autofocus: true, autocomplete: "price",class:'form-control' %>
    </div>
    <div class="field mt-3">
      <%= f.label :category %>
      <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
    </div>
    <div class="field mt-3">
      <% @product.files.each do |file| %>
        <li>
          <%= link_to file.filename, rails_blob_path(file, disposition: :inline) %>
          <%= link_to 'Remove', delete_file_product_path(file.id),
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure" 
          } %>
        </li>
      <% end %>
    </div>
    <div class="field mt-3">
      <%= f.label :image %>
      <%= f.file_field :files, multiple: true , class:'form-control'%>
    </div>
    <div class="actions  mt-3 btn1">
      <%= f.submit "Save",class: 'form-control btn1-body' %>
    </div>
  </div>
<% end %>