<%= form_with model: [@product, @product.reviews.build ] do |f| %>
  <div class='form-body'>
    <%if user_signed_in?%>
      <div class="field mt-3">
        <%= f.text_field :name,placeholder: 'name',class:'form-control' %>
        <%= f.hidden_field :user_id,value: current_user.id,readonly: true,class:'form-control' %>
      </div>
    <% else %>  
      <div class="field mt-3">
        <%= f.text_field :name,placeholder: 'name',class:'form-control' %>
      </div>
    <% end %>
    <div class="field mt-3">
      <%= f.text_field :body,placeholder: 'your review',class:'form-control' %>
    </div>
    <div class="actions  mt-3 btn1">
      <%= f.submit "Create",class: 'form-control btn1-body' %>
    </div>
  </div>
<% end %>