<div class='container signup mb-5'>
 <h3 class='text-center sign p-2'>Create a new account</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class='form-body'>
    
      <div class="field row mt-3">
        <div class='col'>
          <%= f.label :First_Name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "First_Name",class: 'form-control' %>
        </div>
        <div class='col'>
          <%= f.label :Last_Name %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "Last_Name",class: 'form-control' %>
        </div> 
      </div>

      <div class="field row mt-2">
        <div class='col'>
          <%= f.label :country %><br />
          <%= f.text_field :country, autofocus: true, autocomplete: "Country",class: 'form-control' %>
        </div>
        <div class='col'>
          <%= f.label :city %><br />
          <%= f.text_field :city, autofocus: true, autocomplete: "City",class: 'form-control' %>
        </div> 
      </div>

      <div class='row mt-2'>
        <div class='field col'>
          <%= f.label :Phone_number %><br />
          <%= f.number_field :phone_number, autofocus: true, autocomplete: "Phone_number",class: 'form-control' %>
        </div>
        <div class='field col'>
          <%= f.label :Address %><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "Address",class: 'form-control' %>
        </div>
      </div>
     
      <div class="field mt-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control' %>
      </div>

      <div class='row mt-2'>
        <div class="field col">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> atleast)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class: 'form-control' %>
        </div>
        <div class="field col">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: 'form-control'%>
        </div>
      </div>

      <div class="actions mt-4 btn1">
        <%= f.submit "Sign up",class: 'form-control btn1-body' %>
      </div>
      <div class='linkto mt-3'>
        <%= link_to 'Already have an account',new_user_session_path %>
      </div>
    </div>
  <% end %>
</div>